<!DOCTYPE html>
<html>
<head>
  <title>PoslovnaCheckpoint</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar static: :top, :responsive => true do %>
  <%= menu_group :pull => :left do %>
    <%= menu_item "Home", root_path %>
    <%= menu_item "Countries", countries_path %>
    <%= menu_item "Places", places_path %>
  <% end %>
<% end %>

<div class="container">

  <%= yield %>

</div>

</body>
</html>
